﻿<div class="formulario">
    <form id="cadastrarSetor" method="post" action="#">
        <h3>Cadastrar Setor</h3>


        <label id="lblnome" for="lblnome">Nome:</label>
        <input type="text">

        <label id="lbldependencia"  for="lbldependencia">Depend&ecirc;ncia:</label>
        <select id="ddlDependencia" name="Dependecia">
            <option selected="selected"> Escolha uma &aacute;rea</option>
            <option>&Aacute;rea interna</option>
            <option>&Aacute;rea externa</option>
            <option>Pr&eacute;dio</option>
            <option>Setor pedag&oacute;gico</option>
        </select>


        <label id="lbldecricao" for="txtDescricao">Descri&ccedil;&atilde;o:</label>

        <textarea id="txtDescricao" name="descricao" rows="5" cols="50">
        </textarea>


        <input type="submit" id="btnVoltar" value="Voltar">
        <input type="submit" id="btnAlterar" value="Alterar">
        <input type="reset" id="btnLimpar" value="Limpar">
        <input type="submit" id="btnBuscar" value="Buscar">
        <input type="submit" id="btnDesativar" value="Desativar">
        <input type="submit" id="btnCadastrar" value="Cadastrar">


    </form>
</div>